body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
}

.container {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

.menu-display {
  margin-bottom: 20px;
  min-height: 150px; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#menu-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

#menu-name {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

body.dark-mode .container {
  background-color: #444;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

body.dark-mode h1,
body.dark-mode #menu-name {
  color: #eee;
}

body.dark-mode button {
  background-color: #555;
  color: #fff;
}

body.dark-mode button:hover {
  background-color: #777;
}