body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  text-align: center;
}

.menu-display {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  min-height: 30px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #333;
  color: #fff;
}


body.dark-mode button {
  background-color: #555;
  color: #fff;
}